.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  font-family: sans-serif;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.content-container {
  position: relative;

  display: flex;
  overflow: auto;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  padding: 16px 24px;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.vertical-container {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  align-items: stretch;
}

.horizontal-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: stretch;
}

@media all and (max-width: 800px) {
  .horizontal-container {
    flex-direction: column;
  }
}

.action-toggle-button {
  display: flex;
  box-sizing: border-box;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #555;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.action-toggle-button:hover {
  color: #fff;
  background-color: #555;
}

.action-toggle-button.disabled {
  cursor: default;
  color: #aaa;
  background-color: #eee;
}

.action-button-container {
  display: flex;
  flex-direction: row;
  min-height: 32px;
  margin: 8px 0;
}

.action-button-container .action-toggle-button {
  margin: 0;
}

.action-button-container .action-toggle-button ~ .action-toggle-button {
  margin-left: 10px;
}

swiper,
.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eee;
}

.swiper-slide-active {
  color: #fff;
  background-color: #aaa;
}
