.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;
  color: #555;
  font-family: sans-serif;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}

.info-container {
  padding: 12px 16px;
  line-height: 24px;
}

.content-container {
  position: relative;
  overflow: auto;
  padding: 16px 24px;
  margin: 8px 16px;
  border-radius: 4px;
  background-color: #fff;
}

.action-toggle-button {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.action-toggle-button:hover {
  color: #fff;
  background-color: #555;
}

.action-toggle-button.disabled {
  cursor: default;
  color: #aaa;
  background-color: #eee;
}

.swiper,
.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  width: 100%;
  background-color: #eee;
}

.swiper-slide-active {
  color: #fff;
  background-color: #aaa;
}
