<div class="box-container">
  <div class="app-title">{{title}}</div>

  <div class="info-container">
    You can change the settings of the Swiper area by clicking the buttons on the left panel.
  </div>

  <div class="horizontal-container">
    <div class="vertical-container">
      <div class="box-title">Settings</div>

      <div class="content-container">
        <div class="action-toggle-button" (click)='toggleExampleType()'>{{(exampleType == "component") ? "Switch to directive" : "Switch to component"}}</div>

        <div class="action-toggle-button" (click)='toggleDirection()'>{{(config.direction == "horizontal") ? "Change to vertical" : "Change to horizontal"}}</div>

        <div class="action-button-container">
          <div class="action-toggle-button" (click)='increasePerView()' [class.disabled]="config.slidesPerView >= items.length">Slides per view +</div>

          <div class="action-toggle-button" (click)='decreasePerView()' [class.disabled]="config.slidesPerView <= 1">Slides per view -</div>
        </div>

        <div class="action-toggle-button" (click)='toggleOverlayControls()'>Toggle Controls</div>

        <div class="action-toggle-button" (click)='toggleKeyboardControl()'>{{config.keyboardControl ? "Disable arrow keys" : "Enable arrow keys"}}</div>

        <div class="action-toggle-button" (click)='toggleMousewheelControl()'>{{config.mousewheelControl ? "Disable mouse wheel" : "Enable mouse wheel"}}</div>
      </div>
    </div>

    <div class="vertical-container">
      <div class="box-title">Swiper</div>

      <div class="content-container">
        <swiper-view *ngIf="exampleType == 'component'" overlay-controls [config]="config" (indexChange)="onIndexChange($event)" (reachEnd)="onReachEnd()">
          <swiper-item *ngFor="let item of items">
            {{item}}
          </swiper-item>
        </swiper-view>

        <div *ngIf="exampleType == 'directive'" class="swiper-container" [swiper]="config" (indexChange)="onIndexChange($event)" (reachEnd)="onReachEnd()">
            <div class="swiper-wrapper">
                <div *ngFor="let item of items" class="swiper-slide">{{item}}</div>
            </div>

            <div [hidden]="config.scrollbar != '.swiper-scrollbar'" class="swiper-scrollbar"></div>

            <div [hidden]="config.pagination != '.swiper-pagination'" class="swiper-pagination"></div>

            <div [hidden]="config.prevButton != '.swiper-button-prev'" class="swiper-button-prev"></div>
            <div [hidden]="config.nextButton != '.swiper-button-next'" class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
