<div class="swiper-container" [ngClass]="{'overlay-controls': overlayMode}">
  <div class="swiper-content">
    <div class="swiper-wrapper">
      <ng-content></ng-content>
    </div>
  </div>

  <div *ngIf="swiperConfig?.direction == 'horizontal'" class="swiper-prev" [ngClass]="{'disabled': isAtFirst }" (click)="prevItem()"></div>
  <div *ngIf="swiperConfig?.direction == 'horizontal'" class="swiper-next" [ngClass]="{'disabled': isAtLast }" (click)="nextItem()"></div>

  <div *ngIf="swiperConfig?.direction == 'vertical'" class="swiper-more" [ngClass]="{'disabled': isAtLast }" (click)="nextItem()">Show more</div>

  <div [hidden]="!swiperConfig?.pagination" class="swiper-pagination" (click)="onIndexSelect($event)"></div>
</div>
