.swiper-container {
  width: 100%;
  height: 100%;

  .swiper-content {
    height: 100%;

    .swiper-scrollbar {
      cursor: pointer;
    }

    .swiper-pagination {
      pointer-events: none;

      .swiper-pagination-handle {
        margin: 2px;

        cursor: pointer;
        pointer-events: all;

        .swiper-pagination-bullet {
          pointer-events: none;
        }

        .swiper-pagination-bullet-last,
        .swiper-pagination-bullet-first {
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }

    &.swiper-container-vertical {
      .swiper-button-prev {
        top: 10px;
        left: 50%;

        margin-top: 0;
        margin-left: -13px;

        transform: rotate(90deg);
      }

      .swiper-button-next {
        top: auto;
        bottom: 10px;
        left: 50%;

        margin-top: 0;
        margin-left: -13px;

        transform: rotate(90deg);
      }

      .swiper-scrollbar {
        width: 8px;

        transition: width 250ms ease-in-out;

        &:hover {
          width: 16px;
        }
      }

      .swiper-pagination {
        .swiper-pagination-handle {
          display: block;

          .swiper-pagination-bullet {
            display: inline-block;

            &.swiper-pagination-bullet-last,
            &.swiper-pagination-bullet-first {
              margin: 5px -1px;
            }
          }
        }
      }
    }

    &.swiper-container-horizontal {
      .swiper-scrollbar {
        height: 8px;

        transition: height 250ms ease-in-out;

        &:hover {
          height: 16px;
        }
      }

      .swiper-pagination {
        .swiper-pagination-handle {
          .swiper-pagination-bullet {
            &.swiper-pagination-bullet-last,
            &.swiper-pagination-bullet-first {
              margin: -1px 5px;
            }
          }
        }
      }
    }
  }
}
